{% extends "base.html" %}

{% block seo %}
{%- set page_title -%}
{%- if paginator.current_index == 1 -%}
{{- config.title }} | {{ section.title }}
{%- else -%}
{{- config.title }} | {{ section.title }} | Page {{ paginator.current_index }} of {{ paginator.number_of_pages }}
{%- endif -%}
{%- endset -%}

{%- if paginator.current_index == 1 -%}
{%- set page_description = config.description -%}
{%- else -%}
{%- set page_description = "" -%}
{%- endif -%}

{{- seo::seo(config=config, title=page_title, description=page_description, is_paginated_index=true) }}
{% endblock seo %}

{% block content %}
<div>
  <h1 class="page-title">Blog Posts</h1>

  <ul class="post-list">
    {# section.pages is already sorted by date desc in Zola #}
    {% for page in paginator.pages %}
    <li>
      <a href="{{ page.permalink }}">
        <span class="post-title">{{ page.title }}</span>
        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
