{% extends "base.html" %}
{% block content %}
    <article class="post">
        <h1>{{ page.title }}</h1>
        {% if (page.date or page.author or page.extra.author or config.extra.author_name) and not page.extra.skip_author -%}
            <p class="post-meta">
                {% if page.date -%}
                    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">
                        {{ page.date | date(format="%B %d, %Y") }}
                    </time>
                {%- endif %}
                {% if page.author or page.extra.author or config.extra.author_name -%}
                    &nbsp;&mdash; {{ page.author | default(value=page.extra.author | default(value=config.extra.author_name)) }}
                {%- endif %}
            </p>
        {%- endif %}
        {% set hero = page.extra.image | default(value='images/logo-blue-square.svg') %}
        {% if not page.extra.skip_image %}
        <figure class="featured-image">
            <img src="{{ get_url(path=hero) }}" alt="{{ page.extra.image_alt | default(value="Featured") }}">
        </figure>
        {% endif %}
        {{ page.content | safe }}
    </article>
{% endblock content %}
